<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Fashionpress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
		<link href='http://fonts.useso.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/static.js"></script>
		<script src="../static/js/responsiveslides.min.js"></script>
		<script>
			$(function () {
				$("#slider").responsiveSlides({
					auto: true,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					pager: true,
				});
			});
		</script>
		<script type="text/javascript" src="../static/js/hover_pack.js"></script>
		{% block head %}
		{% endblock head %}
	</head>
	<body>
		<div class="header">
			<div class="header_top">
				<div class="container">
					<div class="logo">
						<a href="index.html"><img src="../static/images/logo.png" alt=""/></a>
					</div>
					<ul class="shopping_grid">
						<a href="#"><li>Join</li></a>
						<a href="login.html"><li>Sign In</li></a>
						<a href="#"><li><span class="m_1">Shopping Bag</span>&nbsp;&nbsp;(0) &nbsp;<img src="../static/images/bag.png" alt=""/></li></a>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="h_menu4">
				<div class="container">
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li><a href="/" data-hover="Home">Home</a></li>
					<li><a href="#" data-hover="lf" id="lf" onclick="select_list()">{{types.lf}}</a></li>
					<li><a href="#" data-hover="xy" id="xy" onclick="select_list()">{{types.xy}}</a></li>
					<li><a href="#" data-hover="zy" id="zy" onclick="select_list()">{{types.zy}}</a></li>
					<li><a href="#" data-hover="zj" id="zj" onclick="select_list()">{{types.zj}}</a></li>
					<li><a href="#" data-hover="qq" id="qq" onclick="select_list()">{{types.qq}}</a></li>
					<li><a href="#" data-hover="ktv" id="ktv" onclick="select_list()">{{types.ktv}}</a></li>
					<li><a href="#" data-hover="hd" id="hd" onclick="select_list()">{{types.hd}}</a></li>
				</ul>
				<script type="text/javascript" src="../static/js/nav.js"></script>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content_top">
				<div class="container">
					<div class="col-md-3 sidebar_box">
						<div class="sidebar">
							<div class="menu_box">
								<h3 class="menu_head">地区</h3>
								<ul class="menu">
									{% for pro, pv in pros.items %}
									<li class="item{{ pro }}">
										<a href="#">
											<img class="arrow-img" src="../static/images/f_menu.png" alt="">{{ pv.0 }}
										</a>
										<ul class="cute">
                                            {% for c in pv.1 %}
                                                <li class="subitem{{ c.0 }} active"><a href="#">{{ c.1 }}</a></li>
                                            {% endfor %}
										</ul>
									</li>
									{% endfor %}
								</ul>
							</div>
							<!--initiate accordion-->
							<script type="text/javascript">
								$(function() {
									var menu_ul = $('.menu > li > ul'),
									menu_a  = $('.menu > li > a');
									menu_ul.hide();
									menu_a.click(function(e) {
										e.preventDefault();
										if(!$(this).hasClass('active')) {
											menu_a.removeClass('active');
											menu_ul.filter(':visible').slideUp('normal');
											$(this).addClass('active').next().stop(true,true).slideDown('normal');
										} else {
											$(this).removeClass('active');
											$(this).next().stop(true,true).slideUp('normal');
										}
									});
								});
							</script>
						</div>
					</div> 
					{% block container %}
					{% endblock container %}
				</div>  	    
			</div>
		</div>
		<div class="footer_bg"> </div>

        <script src="../static/js/article_list.js"></script>
		{% block footer %}
		{% endblock footer %}
	</body>
</html>		
