{% extends "base.html" %}

{% block head %}
{% endblock head %}


{% block container %}

    <div class="col-md-9 content_right">
        <div class="top_grid2">
        {% for girl in girls %}
            <div class="col-md-4 top_grid1-box1">
                <a href="single.html">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="/media/{{ girl.5 }}" class="img-responsive" alt=""/>
                        </div>
                        <div class="grid_2">
                            <p>{{ girl.1 }}</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p><small>{{ girl.10 }}-{{ girl.11 }}</small></p></li>
                                <li class="grid_2-right">
                                    <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            {% if girl.0|divisibleby:3 %}
                <div class="clearfix"> </div>
        <div class="top_grid2">
            {% endif %}
        {% endfor %}

{#            <div class="col-md-4 top_grid1-box1">#}
{#                <a href="single.html">#}
{#                    <div class="grid_1">#}
{#                        <div class="b-link-stroke b-animate-go  thickbox">#}
{#                            <img src="images/p4.jpg" class="img-responsive" alt=""/>#}
{#                        </div>#}
{#                        <div class="grid_2">#}
{#                            <p>There are many variations of passages</p>#}
{#                        <ul class="grid_2-bottom">#}
{#                            <li class="grid_2-left"><p>$99<small>.33</small></p></li>#}
{#                            <li class="grid_2-right">#}
{#                                <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>#}
{#                            </li>#}
{#                            <div class="clearfix"> </div>#}
{#                        </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-md-4 top_grid1-box1">#}
{#                <a href="single.html">#}
{#                    <div class="grid_1">#}
{#                        <div class="b-link-stroke b-animate-go  thickbox">#}
{#                            <img src="images/p5.jpg" class="img-responsive" alt=""/>#}
{#                        </div>#}
{#                        <div class="grid_2">#}
{#                            <p>There are many variations of passages</p>#}
{#                        <ul class="grid_2-bottom">#}
{#                            <li class="grid_2-left"><p>$99<small>.33</small></p></li>#}
{#                            <li class="grid_2-right">#}
{#                                <div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div>#}
{#                            </li>#}
{#                            <div class="clearfix"> </div>#}
{#                        </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
        </div>
    </div>
{% endblock container %}


{% block footer %}
{% endblock footer %}
